# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps
.HA_VERSION

# Specific file ignores
config/secrets.yaml

# Specific keeps
!.gitkeep
